@model WebApplication.Models.Coordonates


<!DOCTYPE html>
<html>
<head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
        /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
        #map {
            height: 50%;
            width: 50%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <div id="map"></div>

    <script>
        var x=@ViewBag.res;
        var y=@ViewBag.res1;

      function initMap() {
        var myLatLng = {lat: x, lng: y};

        // Create a map object and specify the DOM element for display.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: myLatLng,
          scrollwheel: false,
          zoom: 8
        });

        // Create a marker and set its position.
        var marker = new google.maps.Marker({
          map: map,
          position: myLatLng,
          title: 'Centre'
        });
      }

    </script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4KisZ5FsnWZaKattsQ8faLhlKrNY4qNo&callback=initMap"
        async defer></script>
</body>
</html>